<section>
    <h2>Inscription</h2>
    <form action="/users/add" method="post">
    <div>
        <label>Nom : </label>
        <input type="text" name="nom">
    </div>
    <div>
        <label>Prénom : </label>
        <input type="text" name="prenom">
    </div>
    <div>
        <label>Email : </label>
        <input type="email" name="email">
    </div>
    <div>
        <label>Mot de passe : </label>
        <input type="password" name="password">
    </div>
    <div>
        <label>Confirmation de mot de passe : </label>
        <input type="password" name="confirmPassword">
    </div>
    <input type="submit" value="S'inscrire">
    </form>
</section>
<section>
    <h3>Erreurs : </h3>
    <ul>
        {{#each session.errors}}
            <li class="errormessage">{{this}}</li>
        {{/each}}
    </ul>
    <form action="">
        <input type="date" name="" id="">
    </form>
</section>