<section>
    <h2>Liste des Téléscopes</h2>
    <table>
        <caption>
            {{message}}
        </caption>
        <thead>
            <tr>
                <th>Nom</th>
                <th>pays</th>
                <th>Diamètre</th>
            </tr>
        </thead>
        {{#each telescopes}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.pays}}</td>
            <td>{{this.diametre}}</td>
        </tr>
        {{/each}}
    </table>
</section>